/*Fonte do Site*/
html {
    font-family: "Hepta Slab", serif;
    font-weight: weight;
    font-style: normal;
}

/*****************Cabeçalho******************/
header {
    background-color: rgb(215, 6, 84); /*rgb(215, 6, 84);*/
    color: aliceblue; 
    border-radius:2cqb;
    height: auto;
    width: auto;
}

/*****************Título******************/
#titulo-principal {
    height: 60%;
    text-align: center;
    padding-top: 3px;
}

/*****************Menu Principal******************/
#menu {
    background-color: #000000;
    height: 40%;
    border-bottom-left-radius:2cqb;
    border-bottom-right-radius:2cqb;
    padding: 2px;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 95%;
}

/*****************Formatação dos Links******************/
.link-menu {
    color: aliceblue;
    text-decoration: none;
    font-weight:bold;
    font-style: normal;
    /*font-size: large;       /*mobile*/
}

li a:hover {
    color: rgb(215, 6, 84);
}


/*****************Body******************/
body {
    background-color: #FFEFC8;
}

/*****************Formação Profissional******************/
#div1 {
    background-color: rgb(255, 217, 95);
    padding: 20px;
    box-sizing: border-box;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius:2cqb;
}

#formacao {
    text-align: center;
}

/*****************Soft e Hard Skills******************/
.div-section {
    width: 100%;
    background-color: #B8D576;
    padding-left: 15px;
    text-align: left;
    border-radius:2cqb;

}

#section1 {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.subtitulos {
    text-align: center;
    font-style: italic;
    font-family: "Hepta Slab", serif;
    color: #D70654;
}



/******************Seção Projetos******************/
#titulo-projeto {
    text-align: center; 
    color:#D70654; 
    font-style: italic;
}


#container-projetos {
    margin: 10px;
}

#principal {
    width: 100%;
    border-radius:2cqb;
}

.div-projetos {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.projeto {
    background-color: #b8d5767c;
    margin: 5px;
    border-radius: 2cqb;
    text-align: center;
    padding-bottom: 7px;
}


.titulos-projetos {
    text-align: center;
}


/******************Seção Sobre Mim******************/
#sobre-mim {
    text-align: center; 
    color:#D70654; 
    font-style: italic;
}

#quem-sou-eu {
    background-color: rgb(255, 217, 95);
    border-radius: 2cqb;
    margin-bottom: 18px;
}

#hobbies {
    padding: 10px;
}

#texto-sobre-mim {
    text-align: justify;
    margin: 25px;
    line-height: 30px;
    
}

/******************Formulário de Contato******************/
#contato {
    text-align: center; 
    color:#D70654; 
    font-style: italic;
}

#formulario-contato {
    width: 40%;
    display: flex;
    justify-content: center;
    border: 1px solid violet;
}

#formulario-um {
    background-color: #B8D576;
    border-radius: 2cqb;
    margin-bottom: 18px;
    padding: 10px;
    width: 75%;
}

#formulario-dois {
    background-color: #B8D576;
    border-radius: 2cqb;
    margin-bottom: 18px;
    padding: 10px;
    width: 75%;
}

button {
    font-family: "Hepta Slab", serif;
    font-weight: weight;
    font-style: normal;
    background-color: #000000;
    color: whitesmoke;
    border-radius: 2cqb;
}


/*****************Footer******************/
footer {
    background-color: rgb(215, 6, 84);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-radius:2cqb;
    text-align: center;
    color: aliceblue;
}

.link-ft {
    color: aliceblue;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-size: large;
}

div a:hover {
    color: #000000;
}

/* Media Queries para Responsividade */

/* Para telas pequenas (como celulares) */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projetos {
        flex-direction: column;
        align-items: center;
    }

    .div-projetos {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .titulos-projetos {
        text-align: center;
        font-size: small;
    }

    link-projetos {
        font-size: small;
    }

}

/* Para telas médias (como tablets) */
@media (max-width: 1024px) {
    .projeto {
        width: 45%;
    }
}

/* Para telas grandes (como desktops) */
@media (min-width: 1025px) {
    .projeto {
        width: 30%;
    }
}